.infrastructure/
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
crash.log
crash.*.log

.venv/
venv/
env/
__pycache__/
*.py[cod]
*$py.class

*.pth
*.pt
*.h5
*.onnx
*.pkl

*.jpg
*.jpeg
*.png

.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.zip